<svelte:head>
    <style>
        @import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
    </style>
</svelte:head>
<div class="headbox"> 
<h1 >Welcome to the-game</h1>
<p></p>
</div>

<style>
     h1 {
        padding: 20 0;
        text-align: center;
        color: #c00000;
        font-family: 'Russo One', sans-serif;;
    }
    .headbox {
        margin: 100px 0;
    }
</style>
